.contactus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding-medium);
    color: var(--font-color);
    margin: auto;
    max-width: 600px;
    background-color: var(--background-color);
}

.contactus-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactus-section label {
    margin-bottom: 8px;
    font-size: var(--font-size-small);
}

.contactus-section input,
.contactus-section textarea {
    margin-bottom: 16px;
    padding: 8px;
    font-size: var(--font-size-small);
    border: 1px solid var(--font-color);
    border-radius: 4px;
}

.contactus-section button {
    width: 250px;
    padding: 15px;
    font-size: var(--font-size-small);
    color: var(--button-font-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto
}