@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Inter&display=swap");

@import url("./variables.css");

.playfair-display-tshc {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tshc {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
    text-decoration: none;
    color: var(--font-color);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "playfair-display-tshcs", sans-serif;background-color: var(--background-color);
  color: var(--font-color)
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

 .header-topbar {
    background-color: var(--font-color);
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

.header-content {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #EDDCED;
    height: 250px;
    border-bottom: 1px solid var(--font-color);
}

.header-content__center {
    text-align: center;
}
.logo {
    width: 200px;
    height: auto;
}

.header-content__right {
    font-size: 62px;
    font-family: "playfair-display-tshcs", serif;
    margin-left: 50px;
    margin-top: 20px;
}

.header-content__left__bottom {
    font-size: 62px;
    font-family: "playfair-display-tshcs", serif;
    margin-right: 50px;
}

.header-content__left__top {
    font-size: 18px;
}

.header-content__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.header-content__nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 225px;
    font-size: var(--font-size-large);
    font-family: "playfair-display-tshc", sans-serif;
    text-decoration: none;
    width: 1400px;
    color: var(--font-color)
}

.header-content__nav__links :hover {
    color: var(--button-hover-background-color);
    transform: scale(1.05);
}

.header-content__nav__right {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end;
    gap: 15px;
    font-size: 20px;
    padding-right: 20px;
}

.header-content__nav__right i{
    cursor: pointer;
    color: var(--background-color);
}

.header-content__nav__left{
    width: 500px;
    color: var(--background-color)
}

.header-content__nav__left p{
    font-size: var(--font-size-small);
    letter-spacing: 0.5em;
    margin-left: 60px;
}
.header-content i{
    font-size: var(--font-size-largeplus);
    color: #000000 ;
    margin-top: 30px;
    cursor: pointer;
}

.header-content__nav__shoppingbag{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    width: 30px;
}

.header-content__nav__right__cart-count{
    position: absolute;
    top: -8px;
    right: -15px;
    background-color: var(--edit-add-button-background-color);
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 6px;
    font-size: var(--font-size-xxsmall);
}

.header-underline {
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0;
    padding-bottom: 50px ;
    padding-top: 50px;
}

.header-underline h2 {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-large);
    letter-spacing: 0.25em;
}
/*Product grid section*/

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sale-banner {
    position: absolute;
    top: 15px;
    right: -30px;
    background: #ff0000;
    color: white;
    padding: 5px 40px;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 12px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


.product-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.discounted-price {
    color: var(--delete-button-click-background-color);
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.price.strikethrough {
    text-decoration: line-through;
    color: var(--button-text-color);
}

.product-image {
    cursor: pointer;
}





/*main button styles*/


.main-btn {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.main-btn:hover {
    background-color: var(--button-hover-background-color);
}

.main-btn:active {
    background-color: var(--button-click-background-color);
}