.playfair-display-tshc {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tshc {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "playfair-display-tshcs", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

 .header-topbar {
    position: sticky;
    touch-action: manipulation;
    top: 0;
    background-color: var(--font-color);
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    z-index: 1000;
}

.header-content {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    height: 250px;
    border-bottom: 1px solid var(--font-color);
}

.header-content__center {
    text-align: center;
}
.logo {
    width: 200px;
    height: auto;
}

.header-content__right {
    font-size: 62px;
    font-family: "playfair-display-tshcs", serif;
    margin-left: 50px;
    margin-top: 20px;
}

.header-content__left__bottom {
    font-size: 62px;
    font-family: "playfair-display-tshcs", serif;
    margin-right: 50px;
}

.header-content__left__top {
    font-size: 18px;
}

.header-content__nav {
    width: 1400px;
}

.header-content__nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
    font-family: "playfair-display-tshc", sans-serif;
    text-decoration: none;
    width: 100%;
    color: var(--font-color);
    gap: 30px;
}

.header-content__nav__links :hover {
    color: var(--button-hover-background-color);
    transform: scale(1.05);
}

.header-content__nav nav ul li a{
    width: 100%;
}

.header-content__nav__right {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    padding-right: 20px;
}

.header-content__nav__right i{
    cursor: pointer;
    color: var(--tertiary-color);
}

.header-content__leftemptyforbalance {
    flex-grow: 1;
    font-size: var(--font-size-large);
    cursor: pointer;
    margin-left: 40px;
}



.header-content__leftemptyforbalance button{
    display:block;
    background-color: var(--font-color);
    color: var(--tertiary-color);
    border: none;
    padding: none;
    font-size: var(--font-size-large);
}


.header-content__nav__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    gap: 15px;
    font-size: var(--font-size-large);
}

.header-content__nav__left p{
    font-size: var(--font-size-small);
    letter-spacing: 0.5em;
    color: var(--tertiary-color);
}

.header-content__nav__shoppingbag{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.header-content__nav__right__cart-count{
    position: absolute;
    top: -8px;
    right: -15px;
    background-color: var(--edit-add-button-background-color);
    color: var(--font-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: var(--font-size-xxsmall);
    font-family: "inter-tshc", sans-serif;
}

.header-underline {
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0;
    padding-bottom: 50px ;
    padding-top: 50px;
}

.header-underline h2 {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-large);
    letter-spacing: 0.25em;
}
/*Product grid section*/

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.discounted-price {
    color: var(--delete-button-click-background-color);
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.price {
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.price.strikethrough {
    text-decoration: line-through 2px var(--delete-button-click-background-color);
    color: var(--button-text-color);
    font-family: "Inter", sans-serif;
}

.product-image {
    cursor: pointer;
}

.price-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}


/*main button styles*/

.main-btn {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: 1px solid var(--button-border-color);
    padding: var(--section-padding);
    font-size: var(--font-size-xsmall);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    font-weight: 600;
}

.main-btn:hover {
    background-color: var(--button-background-color);
    color: var(--button-click-background-color)
}

.main-btn:active {
    background-color: var(--button-click-background-color);
}

.add-to-cart-btn{
    background-color: var(--button-background-color);
    color: var(--font-color);
    border: 1px solid var(--button-border-color);
    padding: var(--section-padding);
    font-size: var(--font-size-xsmall);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 250px;
}
.add-to-cart-btn:hover {
    background-color: var(--button-hover-background-color);
    color: var(--font-color);
}
.add-to-cart-btn:active {
    background-color: var(--button-click-background-color);
    color: var(--font-color);
}

/* Header content mobile */
.header-content-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--font-color);
}

.header-content__logo__mobile {
    margin: auto;
    text-align: center;
}

.header-content__logo__mobile img {
    width: 80px;
    height: auto;
}

.header-content-mobile__text {
    font-size: 1.5rem;
    font-family: "playfair-display-tshcs", serif;
    display: block;
    margin-bottom: 10px;
    color: var(--font-color);
    text-align: center;
    font-style: bold;
}

.load-more-btn {
    display: none;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-medium);
}

.fa-solid.fa-share.share-icon {
    position: absolute;
    bottom: 10px;
    right: 50px;
    font-size: 16px;
    color: var(--background-color);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 9999;
}
.fa-solid.fa-share.share-icon:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.back-to-top-btn {
    padding: 12px 12px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.back-to-top-btn.show {
    opacity: 1;
    pointer-events: auto;
}

.toast {
    position: fixed;
    bottom: 150px;
    right: 5%;
    transform: translateX(-50%);
    background-color: var(--edit-add-button-background-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.5s ease;  
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}
/* media queries*/
@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .header-content__nav {
        max-width: 100%;
    }
    .header-content__nav__links {
        width: 100%;
        justify-content: center;
    }
    .shopping_cart {
        height: 70vh;
    }
    .container {
        max-width: 1024px;
    }
      .header-content__nav__left p{
        font-size: var(--font-size-xxsmall);
        letter-spacing: 0.3em;
        flex: 1;
        text-align: end;
    }

    .header-content i{
        display:none;
    }
}

@media (max-width: 768px) {

    .header-content-mobile {
        display: block;
    }

    .header-content {
        display: none;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        max-width: 1000px;
    }

    .header-content__nav__left p{
        font-size: var(--font-size-xxsmall);
        letter-spacing: 0.3em;
        width: 100%;
       
    }

    .header-content__leftemptyforbalance {
    flex-grow: 1;
    font-size: var(--font-size-large);
    cursor: pointer;
    margin-left: 10px;
    }

    .header-content__nav__links {
        font-size: var(--font-size-small);
        justify-content: center;
        align-items: center;
    }
    .product-card p{
        font-size: var(--font-size-xxsmall);
    }
    .price.strikethrough {
        font-size: var(--font-size-xxsmall);
}
    .header-content-mobile__text {
    font-size: 1.5rem;
    font-family: "playfair-display-tshcs", serif;
    display: block;
    margin-bottom: 10px;
    color: var(--font-color);
    text-align: center;
    font-weight: bold;
}
    .load-more-btn {
        display: block;
        width: 100%;
        max-width: 300px;
    }

    .header-content__nav__right__cart-count {
        right: -12px;    
        top:-8px;
        font-size: var(--font-size-xxsmall);
        width: auto;
        height: auto;
        color: var(--font-color)
    }
}


@media (max-width: 480px) {
    .header-content {
       display: none;
    }
    .products-grid {
        grid-template-columns: 1fr;
    }
    .header-content__nav__left p{
         color: white;
         width: 100%;
         font-size: var(--font-size-xxxsmall);

    }
    .header-content__nav__links {
        font-size: var(--font-size-xxxsmall);
        flex-direction: row;
        gap: 10px;
        font-weight: bold;
    }
     .header-content__nav__links a{
         font-size: var(--font-size-xxsmall);
         font-weight: bold;
     }

     .header-content__nav__right i{
         font-size: var(--font-size-small);
     }


     .header-underline h2 {
        font-size: var(--font-size-xxsmall);
     }
  
}

@media (max-width: 375px) {

.container {
        max-width: 375px;
        margin: auto;
    }

    .header-topbar {
        width: 374px;
    }
    .header-content__nav__left p{
         font-size: var(--font-size-xxxsmall);
         max-width: 120px;
    }

    .product-card {
        max-width: 370px;
        margin: auto;
    }

    .header-content__nav__links a{
         font-size: var(--font-size-xxxsmall);
         font-weight: bold;
     }

     .header-content-mobile__text {
        font-size: 1.5rem;
     }

     .header-underline h2 {
        font-size: var(--font-size-xxxsmall);
     }

     .product-card img {
        height: 200px;
        width: 200px;
     }

     .header-content {
        max-width: 374px;
     }

     .vr {
        max-width: 374px;
     }

        .header-content__nav__right i{
         font-size: var(--font-size-xsmall);
     }
     .header-content-mobile__text {
    font-size: 1.5rem;
    font-family: "playfair-display-tshcs", serif;
    display: block;
    margin-bottom: 10px;
    color: var(--font-color);
    text-align: center;
    font-weight: bold;
}
}

