:root {
    --primary-color: #003b4a;
    --secondary-color: #e6c1e4;
    --font-color: #003b4a;
    --tertiary-color: #c6cbdd;  
    --background-color: #f5f5f5;
    --background-color-alt: #d1d0d0;
    --important-color: #000000;



    /*font sizes*/
    --font-size-xxxsmall: 10px; /*text on small buttons*/
    --font-size-xxsmall: 14px; /*input text*/
    --font-size-xsmall: 16px; /*labels*/
    --font-size-small: 18px;
    --font-size-medium: 20px;
    --font-size-large: 24px; /*headers and main 
    links*/
    --font-size-largeplus: 32px; /*section headers*/
    --font-size-xlarge: 64px; /*header logo font size*/


    /*Main Button colors*/
    --button-background-color: var(--secondary-color);
    --button-text-color: var(--font-color);
    --button-border-color: var(--font-color);
    --button-hover-background-color: #E1ACDD;
    --button-click-background-color: #E187E4;

    /*special Button colors*/
    /*delete button*/
    --delete-button-background-color: #CC5027;
    --delete-button-text-color: #FFFFFF;
    --delete-button-border-color: #707070;
    --delete-button-hover-background-color: #F54505;
    --delete-button-click-background-color: #CC5027;

    /*edit and add button*/
    --edit-add-button-background-color: #04C721;
    --edit-add-button-text-color: #FFFFFF;
    --edit-add-button-border-color: #707070;
    --edit-add-button-hover-background-color: #03B615;
    --edit-add-button-click-background-color: #029A12;

    /*input field colors*/
    --input-background-color: #f5f5f5;
    --input-text-color: #707070;
    --input-border-color: #707070;
    --input-focus-border-color: #e802e8;
    --input-error-border-color: #CC5027;
    --input-placeholder-color: #A9A9A9;

    /*margin and padding sizes*/
    --section-margin: 40px;
    --section-padding: 16px;
    --section-padding-medium: 20px;
    --section-padding-large: 32px;
    --margin-xsmall: 4px;
    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-large: 24px;
    --margin-xlarge: 32px;


    /*image sizes*/
    --image-small: 250px;
    --image-medium: 300px;
    --image-large: 400px;

    /*border-radius*/
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
    --border-radius-round: 50%;
}