/*footer section*/

.footer {
    background-color: var(--tertiary-color);
    padding: 20px;
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    color: var(--font-color)
}

.footer-content__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--tertiary-color);
}

.footer-content__left {
    width: 360px;
    padding: 10px;
    margin-left: 20px;
}
.footer-content__top h4, h5{
    font-size: var(--font-size-medium);
    color: var(--font-color)
}
.footer-content__top p{
    font-size: var(--font-size-xsmall);
    line-height: 1.5;
    color: var(--font-color);
}
.footer-content__right {
    width: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content__right h5 {
    margin: 0;
    padding: 10px;
}

/*input field styles*/

.footer-content__right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer-content__right label {
    font-size: var(--font-size-small);
    margin: 15 0 auto;
    color: var(--font-color);
    font-weight: bold;
}

.footer-content__right input{
    width: 250px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: var(--font-size-xsmall);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: var(--background-color);
}

.footer-content__right input:invalid {
    border-color: var(--input-error-border-color);
}

.footer-content__right input:focus {
    border-color: var(--edit-add-button-click-background-color);
    
}

.footer-content__right input::placeholder {
    color: var(--input-placeholder-color);
}

.footer-content__right form:invalid button {
    cursor: not-allowed;
}


.footer-content__right i{
    font-size: var(--font-size-large);
    color: var( --font-color);
    margin: 8px;
}

.footer-content__centera {
    width:360px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content__centera, .footer-content__centerb ul{
    text-align: left;
}

.footer-content__centerb {
    width:360px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content__bottom {
    background-color: var(--tertiary-color);
    border-top: 1px solid #f5f5f5;
}

.footer-content__bottom__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content__bottom__top__strawberry, .footer-content__bottom__top__visa, .footer-content__bottom__top__mestercard, .footer-content__bottom__top__eco img{
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.footer-content__bottom__top__mestercard img{
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.footer-content__bottom__bottom p {
    text-align: center;
    color: var(--font-color);
    font-size: var(--font-size-xxsmall);
}

.vr {
    display: inline-block;
    width: 1px;
    height: 250px;
    background-color: var(--background-color);
    margin: 20px 10px;
}

footer li a{
    text-decoration: none;
    color: var(--font-color);
    transition: transform 0.3s ease;
    display: inline-block; 
}

footer li a:hover{
    text-decoration: underline;
    color: var(--button-hover-background-color);
    transform: scale(1.10);
}

footer li{
    margin-bottom: 8px;
}

@media (max-width: 480px) {

    .footer-content__top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-content__right {
        width: 450px;
        margin: auto;
        padding: 10px;
    }

    .footer-content__right__icons {
        margin-bottom: 10px;
    }

    .footer-content__right i {
        font-size: var(--font-size-small);
        margin: 18px;
    }
    .vr {
        width: 100%;
        height: 1px;
    }
    .footer-content__left {
        text-align: center;
        max-width: 400px;
    }
    .footer-content__bottom__top {
        flex-direction: column;
    }

}

@media (max-width: 768px) {

    .footer-content__top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-content__right {
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    .footer-content__right__title h4{
        margin: 5px;
    }

    .footer-content__right__icons {
        margin-bottom: 10px;
    }

    .footer-content__right i {
        font-size: var(--font-size-small);
        margin: 18px;
    }
    .vr {
        width: 100%;
        height: 1px;
    }
    .footer-content__left {
        text-align: center;
        max-width: 300px;
    }
    .footer-content__bottom__top {
        flex-direction: row;
    }
    .footer-content__bottom__top__strawberry, .footer-content__bottom__top__visa,.footer-content__bottom__top__eco img{
    width: 50px;
    height: auto;
    margin-left: 20px;
    }

    .footer-content__bottom__top__mestercard, .footer-content__bottom__top__mestercard img{
        width: 50px;
        height: auto;
        margin-right: 20px;
    }
}

@media (max-width: 375px) {

    footer {
        width: 374px;
    }

     .vr {
        max-width: 374px;
     }

     .footer-content__top p{
        max-width: 354px;
        font-size: var(--font-size-xxxsmall);  
        margin: auto;
     }  

     .footer-content__centera, .footer-content__centerb {
        width: 354px;
        font-size: var(--font-size-xxxsmall);
     }

     .footer-content__right {
        width: 354px;
        font-size: var(--font-size-xxxsmall);
     }
     .container {
        max-width: 375px;
        margin: auto;
     }

    .footer-content__bottom__top__strawberry, .footer-content__bottom__top__visa,.footer-content__bottom__top__eco img{
    width: 50px;
    height: auto;
    margin-left: 20px;
    }

    .footer-content__bottom__top__mestercard, .footer-content__bottom__top__mestercard img{
        width: 50px;
        height: auto;
        margin-right: 20px;
    }
    .footer-content__bottom__top {
        max-width: 374px;
        flex-direction: row;
    }

    .footer-content__bottom__bottom p {
        font-size: var(--font-size-xxxsmall);
    }
}