.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 95vh;
    background-color: var(--background-color);
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: -450px;
    border: 12px solid var(--tertiary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.5s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.hamburger-menu .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--important-color);
    transition: background-color 0.2s, color 0.2s;
}
.hamburger-menu .close-btn:hover {
    color: var(--delete-button-hover-background-color);
}

.show-hamburger-menu.hamburger-menu {
    left: 0;
    opacity: 1;
    pointer-events: auto;
}

/* Overlay element */
.hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.hamburger-overlay.show {
    opacity: 1;
    visibility: visible;
}

/* Hamburger menu content styles */

.hamburger-menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.hamburger-menu__links i {
    font-size: var(--font-size-small);
    color: var(--font-color);
    padding: 2px;
}

.hamburger-menu__links ul {
    padding: 0;
    margin-top: 0;
    width: 100%;
}

.hamburger-menu__links li {
    list-style: none;
    width: 100%;
    
}

.hamburger-menu__links a{
    display: block;
    width: 100%;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--font-color);
    font-size: var(--font-size-small);
    transition: background-color 0.3s ease;
    width: 100%;
}
.hamburger-menu__links a:hover {
    background-color: var(--tertiary-color);
}

.hamburger-menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hamburger-menu__h5{
    font-size: var(--font-size-small);
    display: block;
}

.hamburger-menu__h5:hover {
    text-decoration: underline 2px var(--button-hover-background-color);
}

.hamburger-menu__logo {
    width: 150px;
    height: auto;
    margin: auto
}

@media (max-width: 480px) {
    .hamburger-menu__links  {
        font-size: var(--font-size-small);
    }
    /*.hamburger-menu__links i {
        font-size: var(--font-size-small);
    }*/
    .hamburger-menu__logo img{
        width: 150px;
        height: auto;
    }
    .hamburger-menu__h5{
        font-size: var(--font-size-xsmall);
        margin-top: 5px;
    }
}

@media (max-width: 376px) {
    .hamburger-menu {
        width: 90%;
        left: -120%;
    }
    .hamburger-menu__links a {
        font-size: var(--font-size-xsmall);
    }
    .hamburger-menu__links i {
        font-size: var(--font-size-xsmall);
    }
    .hamburger-menu__logo img{
        width: 100px;
        height: auto;
        margin-left: 20px;
    }
    .hamburger-menu__h5{
        font-size: var(--font-size-xsmall);
    }
}