.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    border: 5px solid var(--secondary-color);
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.modal-content label {
    font-size: var(--font-size-small);
    color: var(--font-color);
    margin-bottom: 5px;
}

.modal-content input {
    width: 80%;
    padding: 8px;
    font-size: var(--font-size-xsmall);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

.modal-content button{
    margin: var(--margin-medium)
}

.modal-content i{
    font-size: var(--font-size-largeplus);
    margin: var(--margin-medium);
}
.modal-content p {
    font-size: var(--font-size-xsmall);
    color: var(--font-color);
    margin: 8px 0;
}

.close {
    color: var(--font-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--font-hover-color);
    text-decoration: none;
    cursor: pointer;
}
