.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-button {
    background-color: var(--secondary-color);
    border: 1px solid var(--button-click-background-color);
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #3b3a3a;
}

.pagination-button.active {
    background-color: var(--button-click-background-color);
    color: white;
}