.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-medium) 0;
}

.pagination-button {
    background-color: var(--secondary-color);
    border: 1px solid var(--button-click-background-color);
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: var(--font-color);
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: var(--button-hover-background-color);
}

.pagination-button.active {
    background-color: var(--button-click-background-color);
    color: var(--font-color);
}