
.slider-container {
    position: relative; /* MUST have this */
    width: 100%;
    height: 350px; /* Set a height */
    overflow: hidden;
   background: linear-gradient(to bottom, var(--secondary-color), var(--background-color));
    color: var(--font-color)
    
}

.slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 300%; /* 3 slides = 300% width */
}

.slide {
    width: 33.3333%; /* Each slide takes 1/3 of track */
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    position: relative;
    overflow: hidden;
}

.sale-banner {
    position: absolute;
    top: 15px;
    right: -30px;
    background: #ff0000;
    color: white;
    padding: 5px 40px;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 12px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: var(--font-color);
    margin-left: 150px;
}

.slider-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid var(--font-color);
    cursor: pointer;
    margin-bottom: 15px;
}


/* Slider Control buttons */
.slider-controls {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.prev-btn, .next-btn {
    background-color: var(--button-click-background-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}
