
.slider-container {
    position: relative; /* MUST have this */
    width: 100%;
    height: 350px; /* Set a height */
    overflow: hidden;
    margin-top: 20px;
    border: 5px solid var(--button-border-color);
    background-color: rgb(255, 242, 255);
    border-radius: 8px;
}

.slide.active {
    opacity: 1; /* Showing the active slide */
}

.slide.active img {
    width: 350px;
    height: 350px;
    transition: transform 0.3s ease;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 10px;
}

.slide {
    position: relative; 
    bottom: 170px;
    left: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 500px;
    width: 300px;
    z-index: 2;
    color: black;
    margin: auto
}


.slider-image {
    width: 350px;
    height: 350px;
    object-fit: contain;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;

}


/* Slider Control buttons */
.slider-controls {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.prev-btn, .next-btn {
    background-color: var(--button-click-background-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}
