.shopping_cart {
   width: 400px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   padding: 16px;
   border-radius: 8px;
   position: fixed;
   bottom:0;
   top: 0;
   height: 95vh;
   right: -400px;
   display: grid;
   grid-template-rows: 70px 1fr 70px;
   transition: .5s;
   border: solid 5px var(--secondary-color);
   z-index: 1001;
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
}

.shopping_cart .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--important-color);
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
    
}
.shopping_cart .close-btn:hover {
    color: var(--delete-button-hover-background-color);
}

body.show-cart .shopping_cart {
    right: 0;
    visibility: visible;
    opacity: 1;
}

.shoppingbag-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.cart-total {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}

/* Shopping Cart Background Overlay */
body.show-cart::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.empty-cart {
    text-align: center;
    color: #999;
    padding: 40px 20px;
}
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}





@media (max-width: 1024px) {
  
    .shopping_cart {
        height: 95vh;
    }
}

@media (max-width: 768px) {
    .shopping_cart {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .shopping_cart {
        width: 89%;
        height: 94vh;
    }
}